.container-p {
  text-align: center;
}

.txt-p {
  color: #bbb;
  font-size: pxToem(15px);
  padding-top: 60px;
  width: 100%;
  text-align: center;
}

.photo-p {
  text-align: center;
  width: 100%;
  padding-top: 30px;
}
